footer {
    background-color: #5d16ec;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer nav {
    list-style: none;
}

footer nav li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: fit-content;
    width: fit-content;
    padding-left: 200px;
}

footer nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
}

footer nav a:hover {
    color: white;
}