footer {
    background-color: #5d16ec;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer nav {
    display: flex;
    padding-left: 100px;
    list-style: none;
}

footer nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
}

footer nav a:hover {
    color: white;
}