.connexion {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.Tconnexion {
    text-align: center;
}

.Fconnexion {
    display: flex;
    flex-direction: column;
}

.Fconnexion input {
    margin: 5px 0;
    padding: 5px 5px;
    outline: 0;
    border: 1px solid black;
    border-radius: 6px;
}

.Fconnexion input[type='submit'] {
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    padding: 6px 0;
    transition: 0.4s;
}

.Fconnexion input[type='submit']:hover {
    background-color: grey;
}

.Erreur {
    color: red;
    text-align: center;
    margin: 10px 0;
}