.présentation {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: #379159;
    max-width: 50%;
    height: 540px;
}

.hometitre {
    font-size: 40px;
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

a.button {
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    border-width: 3px;
    background-color: white;
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 44%;
}

.button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.hometapis {
    display: flex;
    position: absolute;
    width: 50%;
    right: 0px;
}

.hometext {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}