.présentation {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: #379159;
    height: 540px;
}

.hometitre {
    font-size: 40px;
    color: white;
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.homebutton {
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    border-width: 3px;
    background-color: white;
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 47%;
}

.homebutton:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.hometapis {
    display: flex;
    position: absolute;
}

.hometext {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.marquee-container {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.marquee-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    text-align: center;
}

.marquee-img {
    width: 120px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.marquee-text {
    font-size: 14px;
    margin-top: 5px;
    color: #333;
}

.faq-container {
    max-width: 800px;
    margin: 50px auto;
}

.faq-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.faq-item {
    border-bottom: 2px solid #800080;
    padding: 10px 0;
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:hover {
    color: #800080;
}

.faq-answer {
    font-size: 16px;
    padding: 10px 15px;
    color: #333;
}

.faq-question::after {
    content: "▾";
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.faq-item.open .faq-question::after {
    transform: rotate(180deg);
}